<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net471" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net471" />
  <package id="Caliburn.Micro.Start" version="3.2.0" targetFramework="net471" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net471" />
  <package id="Costura.Fody" version="4.0.0" targetFramework="net471" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net471" />
  <package id="Fody" version="5.1.0" targetFramework="net471" developmentDependency="true" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net471" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net471" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net471" />
  <package id="MahApps.Metro" version="1.6.0" targetFramework="net471" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net471" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net471" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.12" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="2.2.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Console" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Debug" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.1" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net471" />
</packages>